body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #092949;
  color: whitesmoke;
  margin: 0;
}

h1 {
    padding: 10px;
    font-size: 36px;
    text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 18px;
  margin-top: 15px;
}

input {
    height: 30px;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

button {
    cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 18px;
  background-color: #d89517
}

img {
    height: 200px;
    width: 200px;
}

.data-container {
    margin: 20px;
    background-color: whitesmoke;
    color: black;
    width: 400px;
}

.output-container {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.type {
    font-weight: bold;
}

td {
    min-width: 130px;
    height: 30px;
    font-size: 18px;
}

table {
    padding-bottom: 10px;
}

.name, .id {
    font-weight: bold;
    font-size: 18px;;
}